<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= typeof title !== 'undefined' ? `${title} - 微博` : '微博' %></title>
    <link rel="stylesheet" href="/vendor/amazeui/css/amazeui.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/vendor/amazeui/js/zepto.min.js"></script>
    <script src="/vendor/amazeui/js/amazeui.min.js"></script>
</head>
<body>
<%- body %>
</body>
</html>
